.profileWrapper {
  background-color: var(--content-bg-color);
  width: var(--content-width);
  height: var(--content-height);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInfoItem {
  margin-top: 30px;
}

.profileInfoItemValue {
  filter: drop-shadow(5px 5px 5px var(--main-filter-color));
  color: var(--primary-text-color);
}

.profileChangePasswordButton {
  color: var(--secondary-text-color);
  height: 30px;
  border: 1px solid var(--secondary-text-color);
  cursor: pointer;
  margin-top: 60px;
  filter: drop-shadow(2px 2px 2px var(--main-filter-color));
  border-radius: 5px;
}

.profileAvatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
