.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: var(--content-width);
  height: var(--content-height);
  background-color: var(--content-bg-color);
}

.errorPageWrapper {
  color: white;
  text-align: center;
}

.errorNumber {
  font-size: 80px;
  margin-bottom: 25px;
  filter: drop-shadow(5px 5px 5px var(--main-filter-color));
}

.errorText {
  font-size: 30px;
  margin-bottom: 25px;
  filter: drop-shadow(5px 5px 5px var(--main-filter-color));
}
