.title {
  margin: 40px 0;
  filter: drop-shadow(5px 5px 5px var(--main-filter-color));
  color: var(--primary-text-color);
  text-align: center;
}

.titleSM {
  font-size: 30px;
}

.titleMD {
  font-size: 50px;
}

.titleLG {
  font-size: 80px;
}
