.profileChangePasswordButton {
  color: var(--additional-text-color);
  height: 30px;
  border: 1px solid var(--secondary-text-color);
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px var(--main-filter-color));
  border-radius: 5px;
}

.profileChangePasswordButton:hover {
  transform: scale(104%);
}
