.button {
  outline: none;
  padding: 12px;
  border-radius: 5px;
  background-color: var(--background-button-color);
  border: 2px solid var(--border-button-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  border: 2px solid var(--hover-text-color);
  color: var(--hover-text-color);
}
