.root {
  width: 130px;
  height: 130px;
  padding: 0 3px;
  background-color: #141414;
  border-radius: 10px;
  position: absolute;
  bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  filter: drop-shadow(5px 5px 5px var(--additional-text-color));
}

.emojiContainer {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  width: 25px;
  height: 25px;
  transition: 0.3s all;
  user-select: none;
  filter: drop-shadow(5px 5px 5px var(--additional-text-color));
}

.emoji:hover {
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 2px #fff);
}

.emojiError {
  filter: drop-shadow(5px 5px 5px var(--additional-text-color));
}
