.wrapper {
  margin: 0 0 12px;
}

.input {
  height: 35px;
  color: var(--text-input-color);
  padding: 12px 16px;
}

.error {
  color: var(--danger-color);
  font-size: 9px;
  padding: 10px 0px 0px 8px;
}

.error_10 {
  padding: 10px 0px 0px 0px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}
