.wrapperLayout {
  display: flex;
  flex-direction: column;
  min-width: 950px;
}

.headerLayout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  background-color: var(--header-layout-color);
}

.mainLayout {
  height: calc(
    100vh - var(--header-height) - var(--header-height)
  ); /* Вычитаем высоту хедера и футера. */
  min-height: var(
    --min-contentarea-height
  ); /* Соответствует высоте контента. */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../shared/images/pageBackground.png');
}

.footerLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: var(--footer-layout-color);
  height: 40px;
  font-size: 10px;
  color: var(--secondary-text-color);
}

.menuLayout a {
  font-size: 9px;
  margin-right: 10px;
  text-decoration: none;
}

.menuLayout a:hover {
  color: var(--primary-text-color);
}

.inactive {
  color: var(--secondary-text-color);
}

.active {
  color: var(--primary-text-color);
}
