.footerLayout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  background-color: var(--footer-layout-color);
  height: 40px;
}

.companyName {
  font-size: 10px;
  color: var(--secondary-text-color);
}

.coords {
  font-size: 7px;
  color: rgb(95, 90, 90);
}
